h1{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    font-family: Open Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    text-align: left;
    color: #111111;
}

a{
    width: 1388px;
    height: 32px;
    left: 17px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #555555

}

p1{
    width: 839px;
    height: 84px;
    top: 363px;
    left: 235px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #555555
}

p2{
    width: 303px;
    height: 20px;
    top: 480px;
    left: 235px;
    gap: 0px;
    opacity: 0px;
    text-align: left;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #000000;
}

span{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
p3{
    width: 226px;
    height: 16px;
    top: 512px;
    left: 235px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color: #000000;
}
hr{
    width: 1020px;
    height: 0px;
    top: 554px;
    left: 210px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #B0AFAF
}

p4{
    width: 691px;
    height: 160px;
    top: 623px;
    left: 375px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

span2{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: red;

}
li{
    width: 675px;
    height: 75px;
    top: 797px;
    left: 382px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color:#fa0f03;

}
p5{
    width: 685px;
    height: 224px;
    top: 1014px;
    left: 375px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

}

span3{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color:red

}

p6{
    width: 683px;
    height: 128px;
    top: 1255px;
    left: 375px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #333333;
}

p7{
    width: 422px;
    height: 32px;
    top: 1401.15px;
    left: 375px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #333333;
}
h2{
    width: 437px; 
    height: 36px;
    top: 1465.2px;
    left: 375px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: rgba(17, 17, 17, 1);
}
p8{

    width: 669px;
    height: 224px;
    top: 1520px;
    left: 375px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #333333;
}

q{
    
    width: 679px;
    height: 258px;
    top: 1766px;
    left: 375px;
    gap: 0px;
    opacity: 0px;
    color: #333333;
   

}
.borda{
    border-left: 2px solid #A6130A ;
    font-size: 28px;
    padding-left: 20px;
} 
.modelo{
    width: 40%;margin: auto;
}